  body {
    overflow-x: hidden;
    background: #094b65;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#mainDiv{
	background-color: #D3E8F5 ;
	background-size:cover;
	background-repeat:no-repeat;
	height:300px;
	width:100%;
	margin-left:-8px;
}

#header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #fff;
}

h2 {
    color: white;
}

.cont {
    position: relative;
  }
  
.first
{
    width:50%;
	height:200px;
	margin:auto;
    margin-top: -100px;
	background-color:white;
	box-shadow: 0px 0px 15px 1px #8c8c8c;
    
}
.text
{
    font-family: 'Comfortaa', cursive;
	text-align:center;
    color: black;
	font-size:20px;
	padding-top: 25px;
	padding-left: 80px;
	padding-right: 80px;
}

  .sdiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 150px;
    margin-left: 12%;
  }
  .fdiv::after {
    content: "";
    clear: both;
    display: table;
  }
  .frdiv {
      
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 12%;
  }
  .tdiv::after {
    content: "";
    clear: both;
    display: table;
  }
  #bdr
  { 
    background-color:white;
	box-shadow: 0px 0px 15px 1px #8c8c8c;
    height:400px;
  }
  .text1
  {
    font-family: 'Comfortaa', cursive;
      color:black;
      font-size:170% ;
  }
  
  footer{
    width: 100%;
    display: flex;
    bottom: 0;
    left: 0;
    background: #111;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    
    
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #094b65;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #094b65;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #094b65;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #094b65;
  }
  
  
  
    .content .right{
      margin-top: 40px;
    }
  
  
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }